body {
  margin: 0px 100px;
  margin-bottom: 50px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
}

button {
  font-family: inherit;
  font-size: 1em;
}

.registerContent,
.loginContent {
  margin-top: 10px;
}

.recipesContainer {
  margin-top: 10px;
  min-height: 40em;
}

.recipeApp {
  margin-top: 10px;
}

.navbar-ul li a:hover {
  background-color: rgb(84, 87, 92);
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100%;
}

.navLinks {
  color: #f2f2f2;
  text-decoration: none;
}

.navBar1 {
  width: 40%;
}

.navBar2 {
  width: 50%;
}

.navBar1 ul li {
  display: inline-block;
  width: 33%;
}

.navBar2 ul li {
  float: right;
  list-style: none;
  width: 25%;
}
.recipeItem {
  /* border: 1px solid;
  border-radius: 15px; */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.recipeItems img {
  max-width: 100%;
  max-height: 200px;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.recipeItems-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.recipeItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3em;
  row-gap: 1em;
}

.recipeItems div {
  text-align: center;
  /* background-color: powderblue; */
}

.learnMore {
  margin-top: 7px;
  margin-bottom: 7px;
}

.learnMore a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  line-height: 27px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}

.recipeItems-name {
  margin-bottom: 5px;
  margin-top: 5px;
  min-height: 2.2em;
}

.navBar-ul-2 > li {
  float: right;
  width: 50%;
}

.navbar-ul li a {
  display: block;
  line-height: 1.5em;
  height: auto;
  line-height: 3em;
  text-align: center;
}

.navbar-ul {
  margin: 0px;
  padding: 0px;
  height: 3em;
}
.navbar-ul li {
  padding: 0px;
  margin: 0px;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
}

.page-link {
  padding: 0.5rem 1rem;
  position: relative;
  display: block;
  /* color: #0d6efd; */
  text-decoration: none;
}

.page-item {
  cursor: pointer;
}

.selected {
  background-color: #0d6efd;
  color: white;
}

.disabled {
  color: grey;
  pointer-events: none;
  cursor: default;
}

.pagination-nav {
  position: fixed;
  bottom: 0;
}

.loadingPage {
  width: 50%;
  margin: auto;
  margin-top: 25%;
}

.loadingPage h2 {
  text-align: center;
}

.modalBackground {
  width: 87%;
  height: 90%;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 85%;
  height: 85%;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  overflow: scroll;
}

.modalPicture img {
  max-height: 150px;
  max-width: 150px;
  min-width: 100%;
  min-height: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalHeader {
  display: grid;
  grid-template-columns: 2fr 8fr;
  column-gap: 1em;
}

.modalTitle {
  text-align: center;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.25em;
}

.modalIngredients {
  padding-top: 1em;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.25em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  /* text-align: center; */
}

.modalInstructions {
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  padding: 1em;
  border-radius: 0.25em;
}

.modalIngredientsOne,
.modalIngredientsTwo,
.modalIngredientsThree,
.modalIngredientsFour {
  padding-left: 1em;
}

.modalRecipeList {
  margin-bottom: 10px;
}

.modalCloseButton button {
  padding: 0.5em;
  cursor: pointer;
}

.modalCollectionButton button {
  padding: 0.5em;
  cursor: pointer;
  background-color: lightgreen;
}

.modalInstructionList {
  line-height: 2em;
  list-style: none;
  display: inline;
}

.modalName p {
  margin: 0.2em;
}

.modalButtonContainer {
  background-color: deeppink;
  display: flex;
  justify-content: space-between;
  background-color: #333;
}
