body {
  margin: 0px 100px;
  margin-bottom: 50px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
}

button {
  font-family: inherit;
  font-size: 1em;
}

.registerContent,
.loginContent {
  margin-top: 10px;
  width: 50%;
  margin: auto;
  margin-top: 15%;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
}

.recipesContainer {
  margin-top: 10px;
  min-height: 40em;
}

.homePage h3 {
  margin: 0px;
  float: right;
}

.adminFunctions {
  margin-top: 0.5em;
}

.navbarContainer {
  display: flex;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100%;
}

.navLinks {
  color: #f2f2f2;
  text-decoration: none;
}

.navBar1 {
  width: 50%;
}

.navBar2 {
  width: 50%;
}

.navBar1 ul li {
  display: inline-block;
  width: 25%;
}

.navBar2 ul li {
  float: right;
  list-style: none;
  width: 25%;
}
.recipeItem {
  /* border: 1px solid;
  border-radius: 15px; */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.recipeItems img {
  max-width: 100%;
  max-height: 200px;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.recipeItems-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.recipeItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3em;
  row-gap: 1em;
  min-height: 60px;
}

.recipeItems div {
  text-align: center;
  /* background-color: powderblue; */
}

.learnMore {
  margin-top: 7px;
  margin-bottom: 7px;
}

.learnMore a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  line-height: 27px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}

.recipeItems-name {
  margin-bottom: 5px;
  margin-top: 5px;
  min-height: 2.2em;
}

.navBar-ul-2 > li {
  float: right;
  width: 50%;
}

.navbar-ul li a {
  display: block;
  line-height: 1.5em;
  height: auto;
  line-height: 3em;
  text-align: center;
}

.navbar-ul {
  margin: 0px;
  padding: 0px;
  height: 3em;
}
.navbar-ul li {
  padding: 0px;
  margin: 0px;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
}

.page-link {
  padding: 0.5rem 1rem;
  position: relative;
  display: block;
  /* color: #0d6efd; */
  text-decoration: none;
}

.page-item {
  cursor: pointer;
}

.selected {
  background-color: #0d6efd;
  color: white;
}

.disabled {
  color: grey;
  pointer-events: none;
  cursor: default;
}

.pagination-nav {
  position: fixed;
  bottom: 0;
}

.loadingPage {
  width: 50%;
  margin: auto;
  margin-top: 25%;
}

.recipeForm {
  /* margin: auto; */
  background-color: cornflowerblue;
  text-align: center;
  margin: 10%;
  overflow: scroll;
}

.loadingPage h2 {
  text-align: center;
}

.modalBackground {
  width: 87%;
  height: 90%;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 85%;
  height: 85%;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  overflow: scroll;
}

.modalPicture img {
  max-height: 150px;
  max-width: 150px;
  min-width: 100%;
  min-height: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalHeader {
  display: grid;
  grid-template-columns: 2fr 8fr;
  column-gap: 1em;
}

.modalTitle {
  text-align: center;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.25em;
}

.modalIngredients {
  padding-top: 1em;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.25em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  /* text-align: center; */
}

.modalInstructions {
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  padding: 1em;
  border-radius: 0.25em;
}

.modalIngredientsOne,
.modalIngredientsTwo,
.modalIngredientsThree,
.modalIngredientsFour {
  padding-left: 1em;
}

.modalRecipeList {
  margin-bottom: 10px;
}

.modalCloseButton button {
  padding: 0.5em;
  cursor: pointer;
}

.modalCollectionAddButton button {
  padding: 0.5em;
  cursor: pointer;
  background-color: lightgreen;
}

.modalCollectionDeleteButton button {
  padding: 0.5em;
  cursor: pointer;
  background-color: tomato;
}
.modalInstructionList {
  line-height: 2em;
  list-style: none;
  display: inline;
}

.modalName p {
  margin: 0.2em;
}

.modalButtonContainer {
  display: flex;
  justify-content: space-between;
  background-color: #333;
}

.active {
  background-color: steelblue;
}

.usernameField {
  /* background-color: teal; */
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.passwordField {
  /* background-color: tomato; */
  padding: 1em;
}

.submitField {
  /* background-color: violet; */
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

.textInput {
  height: 2em;
}

.usersList {
  /* background-color: tomato; */
  -webkit-box-shadow: 0px 0px 3px 0px #000000;
  box-shadow: 0px 0px 3px 0px #000000;
  /* text-align: center; */
  /* cursor: pointer; */
}

.usersListButton {
  margin-bottom: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}

.portal {
  position: absolute;
  background-color: white;
  border: 1px solid #555;
  left: 0;
  right: 0;
  margin: auto;
  height: 82%;
  top: 12%;
  width: 50%;
  text-align: center;
  overflow: scroll;
}

.usersListTableContainer,
.submittedRecipesTableContainer {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: 1em;
}

.submittedRecipesPortalContainer {
  width: 90%;
  margin: auto;
}

.recipeListTableContainer {
  text-align: center;
}

.usersTable,
.submittedRecipesTable {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-spacing: 0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 25%), 0 2px 2px rgb(0 0 0 / 20%),
    0 4px 4px rgb(0 0 0 / 15%), 0 8px 8px rgb(0 0 0 / 10%),
    0 16px 16px rgb(0 0 0 / 5%);
  margin-bottom: 1em;
}

.portalTable {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-spacing: 0;
  background-color: white;
  margin: auto;
  margin-top: 1em;
  box-shadow: 0 1px 1px rgb(0 0 0 / 25%), 0 2px 2px rgb(0 0 0 / 20%),
    0 4px 4px rgb(0 0 0 / 15%), 0 8px 8px rgb(0 0 0 / 10%),
    0 16px 16px rgb(0 0 0 / 5%);
  margin-bottom: 1em;
  /* min-height: 25em; */
  /* position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 80%;
  top: 15%;
  width: 45%; */
}

th,
td {
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid #000000;
  height: 2.5em;
  width: 15em;
  border-right: 1px solid white;
}

/* thead tr:nth-child(even) th div {
  cursor: pointer;

} */

.tableActionButton {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 3px 0px #000000;
  box-shadow: 0px 0px 3px -5px #000000;
  border-radius: 5px;
  min-height: 3em;
}

.approve {
  background-color: lightgreen;
}

.deny {
  background-color: salmon;
}
